body{
    margin: 0;
    padding-bottom: 10%;
}

.contArtistas{
    border: solid red;
}

.artista img{
    width: 100%;
}

.artista{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding-bottom: 2%;
    
}