@import url('https://fonts.googleapis.com/css2?family=Praise&display=swap');
/* font-family: 'Praise', cursive; */
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');
/* font-family: 'ZCOOL QingKe HuangYou', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/* font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/* font-family: 'Righteous', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
/* font-family: 'Permanent Marker', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
/* font-family: 'Creepster', cursive;*/
body{
    margin: 0;
    padding: 2%;
    background-color: black;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    color: rgb(0, 0, 0);
}
.container{
    width: 85%;
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px 0;

}

.header{
    background-color: white;
    color: white;
    padding: 1rem 2rem;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 130%;
    text-transform: uppercase;
    letter-spacing: 1px;
    
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.nav-container a{
    color: black;
    text-decoration: none;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: ease all .5s;

}
@keyframes nav {

    0%{margin-left: -500px;}

    100%{margin-left: 0px;}
}



.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;

}

.navigation ul li{
    display: inline-block;
}

.navigation ul li a{

    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.3s linear;
    border-radius: 6px;
    
}




.navigation ul li a:hover{
    background-color:rgb(98, 181, 187);
    color: white;
}

.contDesc{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vw;
}

.contImg{

    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vw;
    
}

iframe{
    height: 35vw;
    
}

.artista img{
    width: 100%;
    height: 100%;
    border: 5px solid rgb(255, 255, 255); 
    border-radius: 5%;
    background-color: rgb(255, 255, 255);
    object-fit: contain;
  
}

.artista{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 2%;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;

    text-align: center;
    /* align-items: center; */
    
}
.contArtistas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

h1{
    font-size: 4vw;
    margin: 0;
    text-align: center;
    
}

p{
    font-size: 1.5vw;
    padding: 0 5% 0 5%;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
}


@media only screen and (max-width:800px){

    body{
        padding: 2% 5% 2% 5%;
    }
    .artista{
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 5% 2% 5% 2%;
        background-color: white;
        border-radius: 20px;
    
        text-align: center;
        /* align-items: center; */
        width: 80%;
        margin: auto;
        margin-bottom: 5%;
    }
    .contDesc{
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 30vw;
    }
   
    .contImg{
    
        object-fit: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vw;
        
    }

    h1{
        font-size: 5vw;
        margin: 0;
        text-align: center;
        
    }
    
    p{  
        margin: 0%;
        font-size: 2.5vw;
        padding: 0 1% 0 1%;
        font-family: 'Open Sans', sans-serif;
        text-align: left;
    }
    
}